<template>
  <div>
    People Route
    <router-link :to="{name: 'people-create'}">Create</router-link>
    <router-link :to="{name: 'people-welcome'}">Welcome</router-link>
    <router-link :to="{name: 'people-detail'}">Detail</router-link>
    <router-view></router-view>
  </div>
</template>

<script>
export default {
  name: 'People'
}
</script>

<style scoped>

</style>
